# виртуальнрое окружение
venv/
env/
.env

# файлы базы данных
*.sqlite3
db.sqlite3

# кэш и скомпилированные файлы Python
__pycache__/
*.pyc

# папка с медиафайлами
media/

# файлы IDE (например: для VS Code)
.vscode/